.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.fieldsetStyle {
  display: flex;
  flex-direction: column;
  padding: 50px;
  row-gap: 15px;
}

.fieldsetStyle label {
  display: flex;
  flex-direction: column;
}

.fieldsetStyle button {
  margin-top: 20px;
}